.explosion
{
    width:96px;
    height:96px;
    background: url(../img/explosion.png) 0 0;
}
.bubble
{
    padding:10px;background-color:#fff;top:0;position: absolute;width:150px;margin-left:-38px;
}
.man
{
    width:64px;
    height:96px;
    background: url(../img/man.png) 0 0;
}